export(network_rjs)
export(symheatmap_rjs)
export(hiveplot_rjs)
export(heatmap_rjs)
export(manhattan_rjs)
export(tables_rjs)
export(barplot_rjs)
export(boxplot_rjs)
export(piechart_rjs)
export(bubbles_rjs)
export(scatterplot_rjs)
export(wordcloud_rjs)
export(dendrogram_rjs)
export(densityplot_rjs)
export(circularfv_rjs)
export(genomemap_rjs)
export(surface3d_rjs)
export(scatter3d_rjs)
export(createAssembly)
export(getAssemblyFromFasta)
export(NCBI36)
export(GRCh37)
export(GRCh38)
export(GRCh37.bands)
export(GRCh38.bands)
export(report_rjs)
export(addCSS2report)
export(addHTML2report)
export(addParagraph2report)
export(addPlot2report)
export(addImage2report)
export(R4web)
export(newInput)
importFrom(stats,as.dendrogram,as.dist,complete.cases,density,dist,hclust,aggregate)
importFrom(utils,browseURL,write.table)
importFrom(graphics,boxplot)
